header {
  height: 80px;          
  box-shadow: 0 10px 30px 0 rgba(229,238,242,.5);
  background: #fff;
  position: relative;
  z-index: 1;
  max-width: 100%;
}
header .content {
  display: flex;
  justify-content: space-between;
  padding: 15px; 
  max-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  height: 80px;
}
header nav {
  align-self: center;
  border: 3px solid red;
}
header nav a {
  background: #003366;
  color: white;
  padding: 10px 32px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 3px solid blue;
}
.title a {
  display: inline-block;
  height: 100%;
  font-family: 'Fredericka the Great', Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: #003366;
  border: 3px solid green;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 75px 20px;
  max-width: 1440px;
  margin: 0 auto;
}
.navigation a{
  display: block;
  text-decoration: none;
}
.navigation nav {
  display: flex;
  background: #fff;
  border-left: 4px solid #003366;
  border-right: 4px solid #003366;
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
  border-radius: 4px;

}
.navigation nav a {
  display: block;
  width: 100%;
  padding: 8px 20px;
  color: #003366;
  transition: all .3s;
}
.navigation nav a:hover {
  background: #003366;
  color: #fff;
  transition: all .3s;          
}
.pageContent {
  padding: 20px;
}
