header {
  box-shadow: 0 10px 15px 0 rgba(184, 201, 209, 0.5);
  background: #fff;
  position: relative;
  height: 4em;
  z-index: 1;
  max-width: 100%;
  margin-bottom: 10px;
}
header .layout_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: top;
  padding: 15px; 
  max-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
header nav a {
  background: #99adc2;
  color: #003366;
  font-family: 'Raleway', sans-serif;
  padding: 10px 32px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.title {
  align-self: center;
}
.title a {
  display: inline-block;
  width: 8em;
  font-family: 'Fredericka the Great', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
  text-align: center;
  color: #003366;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 1440px;
  margin: 0 auto;
}
.navigation a{
  display: block;
  text-decoration: none;
}
.navigation nav {
  display: flex;
  background: #fff;
  border-left: 4px solid #003366;
  border-right: 4px solid #003366;
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
  border-radius: 4px;

}
.navigation nav a {
  display: block;
  width: 100%;
  padding: 8px 20px;
  color: #003366;
  transition: all .3s;
}
.navigation nav a:hover {
  background: #003366;
  color: #fff;
  transition: all .3s;          
}
.pageContent {
  padding: 20px;
}
