.factoryContent {
    display: flex;
    flex-direction: row;
}
.factoryForm {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.factoryImage {
    width: 50%;
    padding: 20px;
    border: 2px solid black;
}
.dummy
{
  display: none;
}