
.root {
  background: #ffffff;
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 4px;
}
.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
}
.welcome span {
    color: #003366;
}
.create {
  text-decoration: none;
  background: #003366;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
}
.content .empty {
  display: block;
  padding: 75px 20px;
  background: #99adc2;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.content .empty span {
  display: block;
  color: #003366;
  font-family: 'Raleway', sans-serif;
  padding: 5px;
}
.content .tree-link {
  display: block;
}
.trees {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #99adc2;
}
.trees .tree-link {
  min-width: 250px;
  padding: 10px 20px;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
  margin: 10px;
  width: 300px;
  border: 2px solid #003366;
  border-radius: 20px 0px;
  text-decoration: none;
  color: #003366;
  background: #fff;
}
        
